<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="generalSection" type="BCL.Configuration.Models.GeneralSection, BCL" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <generalSection>
    <culture cultureName="en-US" />
    <directoriesToWatch>
      <directory directoryPath="D:\WatchedFolder" />
      <directory directoryPath="D:\WatchedFolder2" />
    </directoriesToWatch>
    <templates defaultDirectory="D:\DefaultDir">
      <template regex=".*\.txt" destinationDirectory="D:\DestFolder" addIndex="true" addDate="true" />
      <template regex=".*\.pdf" destinationDirectory="D:\DestFolder2" addIndex="true" addDate="false" />
      <template regex=".*\.qwe" destinationDirectory="D:\DestFolder2" addIndex="false" addDate="true" />
      <template regex=".*\.asd" destinationDirectory="D:\DestFolder" addIndex="false" addDate="false" />
    </templates>
  </generalSection>
</configuration>