<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="generalSection" type="BCL.Configuration.Models.GeneralSection, BCL" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <generalSection>
    <culture cultureName="en-US" />
    <directoriesToWatch>
      <directory directoryPath="D:\WatchedFolder" />
      <directory directoryPath="D:\WatchedFolder2" />
    </directoriesToWatch>
    <templates defaultDirectory="D:\DefaultDir">
      <template regex=".*\.txt" destinationDirectory="D:\DestFolder" addIndex="true" addDate="true" dateFormat="dd.MM.yyyy" />
      <template regex=".*\.pdf" destinationDirectory="D:\DestFolder2" addIndex="true" addDate="false" dateFormat="dd.MM.yyyy" />
      <template regex=".*\.qwe" destinationDirectory="D:\DestFolder2" addIndex="true" addDate="true" dateFormat="dd.MM.yyyy" />
      <template regex=".*\.asd" destinationDirectory="D:\DestFolder" addIndex="true" addDate="false" dateFormat="dd.MM.yyyy" />
    </templates>
  </generalSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>